<!DOCTYPE html>
<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Novo Produto</title> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" 
              integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link th:href="@{/css/}+'estilo.css'" rel="stylesheet" type="text/css"/>
    </head>
    <body>        
        <div class="col-sm-8" style="margin: auto">
            <h1>Novo Produto</h1>
            <form onsubmit="return validarCampos();" th:action="@{/gravarProduto}" th:object="${produto}" method="post">
                <p>Nome: <input class="form-control" id="txNome" type="text" th:field="${produto.nome}" /> </p>  
                <p>Descriçao: <textarea rows="1" id="txDesc" class="form-control" th:field="${produto.descricao}" /> </p>     
                <p>Marca: <input class="form-control" id="txMarca" type="text" th:field="${produto.marca}" /> </p>
                <p>Preço: <input class="form-control" id="txPreco" type="text" th:field="${produto.preco}" /> </p>
                <p>Estoque: <input class="form-control" id="txEstoque" type="text" th:field="${produto.estoque}" /> </p> 
                <button type="submit" class="btn btn-primary pequeno" >Salvar</button>
                <a th:href="@{/}"><button type="button" class="btn btn-primary pequeno" >Voltar</button></a>
            </form>
        </div>
        <script>
            function validarCampos() {
                let nome = document.getElementById('txNome').value;
                let desc = document.getElementById('txDesc').value;
                let marca = document.getElementById('txMarca').value;
                let custo = document.getElementById('txCusto').value;                
                let estoque = document.getElementById('txEstoque').value;
                if (nome.length <= 0) {
                    alert("Digite um Nome!");
                    return false;
                } else if (desc.length <= 0) {
                    alert("Digite um Descrição!");
                    return false;
                } else if (marca.length <= 0) {
                    alert("Digite uma Marca!");
                    return false;
                } else if (custo.length <= 0) {
                    alert("Digite o valor de custo!");
                    return false;
                } else if (estoque.length <= 0) {
                    alert("Digite o estoque!");
                    return false;
                } else {
                    alert("Produto inserido!");
                    return true;
                }
            }
        </script>        
    </body>
</html>
