<!DOCTYPE html>
<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Venda de Produtos</title> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" 
              integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link th:href="@{/css/}+'estilo.css'" rel="stylesheet" type="text/css"/>

    </head>
    <body>
        <div class="container">
            <div class="col-sm-10" style="margin: auto">         
                <h1>Venda de Produtos</h1>          
                <form onsubmit="return validaCampoAdicionar();" th:action="@{/adicionarProd}" method="post">
                    <div class="row">  
                        <div class="col-sm-7">      
                            <p> <Input th:name="clienteId" class="form-control" th:value="${cliente.nome}" id="selCliente" placeholder="Adcione um cliente" disabled readonly>                                                          
                        </div>
                        <div class="col-sm-2"> 
                            <a th:href="@{/pesquiCli}"><button type="button" class="btn btn-primary" >Buscar Cliente</button></a>
                        </div>
                        <div class="col-sm-2">                                                    
                            <input type="text" style="text-align: center" th:value="'R$ '+${#numbers.formatDecimal(venda.total,1,'POINT',2,'COMMA')}" class="form-control" disabled readonly>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="col-sm-7">      
                            <select name="produtoId" class="form-control" id="selProduto"> 
                                <option value="">Selecione um produto</option>
                                <option th:each="prod : ${listaProd}" th:value="${prod.id}" th:text="${prod.nome}"></option>
                            </select> 
                        </div>                  

                        <div class="col-sm-2">
                            <p><input type="number" id="quant" min="1" class="form-control" th:field="${item.quantidade}" placeholder="Quantidade"></p>
                        </div>
                        <div class="col">                            
                            <button type="submit" class="btn btn-primary">Adicionar Produtos</button>                           
                        </div>
                    </div>
                </form>     

                <a th:href="@{'/comprei?clienteId=' + ${cliIdSelecionado}}"><button type="button" class="btn btn-primary">Confirmar</button></a> 
                <a th:href="@{/limpaCarrinho}"><button type="button" class="btn btn-primary" >Voltar</button></a>                


                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Produto</th>
                            <th>Marca</th>
                            <th>Quantidade</th>
                            <th>Preço</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="itv : ${lista}">
                            <td th:text="${itv.produto.id}"></td>
                            <td th:text="${itv.produto.nome}"></td>
                            <td th:text="${itv.produto.marca}"></td>
                            <td th:text="${itv.quantidade}"></td>
                            <td th:text="${itv.produto.preco}"></td>
                            <td><a th:href="@{'/excluirProduto?id=' +  ${itv.id}}">Excluir</a></td>
                        </tr>
                    </tbody>
                </table>                
            </div>
        </div>
        <script>
            function validaCampoAdicionar() {
                let selpd = document.getElementsByName('produtoId').value;
                let selcli = document.getElementsById('selCliente').value;
                let quanti = document.getElementsById('quant').value;

                if (selcli.length <= 0) {
                    alert("Escolha um cliente!");
                    return false;
                } else if (selpd.length <= 0) {
                    alert("Escolha um Produto!");
                    return false;
                } else if (quanti.length <= 0) {
                    alert("informe a quantidade!");
                    return false;
                } else {
                    return true;
                }
            }
        </script>    
    </body>        
</html>
